---
layout: single
title: "Talks and Trainings"
permalink: /talks_and_trainings/
author_profile: true
talks:
  - title: "Practical Data Science"
    role: "Guest Lecturer"
    client: "SMK Kesuma Bangsa 2"
    location: "Depok, West Java, Indonesia"
    date: 2025-02-03
    description: "Demonstrated license plate recognition using OpenCV and YOLO. This talk is held for final grade student of SMK Kesuma Bangsa 2 (High Vocational School) Jakarta."
    tech_stack: ["OpenCV", "YOLO", "Python"]
  - title: "Face Verification with ArcFace"
    role: "Workshop"
    client: "Rumah Coding"
    location: "Depok, West Java, Indonesia"
    date: 2024-12-20
    description: "Built a face verification system using ArcFace. This workshop was held for participants of Rumah Coding, Depok."
    tech_stack: ["ArcFace", "Python", "Google Colab"]
  - title: "Mobile App Development with Flutter"
    role: "Speaker"
    client: "Politeknik Harapan Bersama"
    location: "Tegal, Central Java, Indonesia"
    date: 2024-12-12
    description: "Delivered session on building CRUD mobile apps and developing APIs with Node.js. This talk was held for students of Politeknik Harapan Bersama, Tegal, Central Java."
    tech_stack: ["Flutter", "Dart", "Node.js", "Express.js"]
  - title: "Deep Neural Networks"
    role: "Guest Lecturer"
    client: "Universitas Gunadarma"
    location: "Depok, West Java, Indonesia"
    date: 2024-11-12
    description: "Provided an introduction to neural networks and deep learning. This talk was held for students of Universitas Gunadarma, Depok."
    tech_stack: ["TensorFlow", "Python"]
  - title: "Similarity Search with Vector Embeddings"
    role: "Speaker"
    client: "DJPP (Direktorat Jenderal Peraturan Perundangan), Ministry of Law and Human Rights of the Republic of Indonesia"
    location: "Jakarta, Indonesia"
    date: 2024-10-22
    description: "Presented fundamentals of similarity search using vector embeddings. This talk was held for employees of DJPP (Direktorat Jenderal Peraturan Perundangan), Ministry of Law and Human Rights of the Republic of Indonesia, Jakarta."
    tech_stack: ["Facebook AI Similarity Search (Faiss)", "Python", "Hugging Face Transformers"]
  - title: "Reverse Image Search"
    role: "Workshop"
    client: "Rumah Coding"
    location: "Depok, West Java, Indonesia"
    date: 2024-10-22
    description: "Implemented image similarity search using YOLO and Milvus. This workshop was held for participants of Rumah Coding, Depok."
    tech_stack: ["YOLO", "Milvus", "Python"]
  - title: "Fine-tuning Open Source LLMs with QLoRA"
    role: "Workshop"
    client: "Rumah Coding"
    location: "Depok, West Java, Indonesia"
    date: 2024-09-08
    description: "Fine-tuned LLMs (Large Language Models) using QLoRA (Quantized Low-Rank Adaptation) to build domain-specific chatbots. This workshop was held for participants of Rumah Coding, Depok."
    tech_stack: ["Hugging Face Transformers", "Python", "Google Colab"]
  - title: "Data Visualization with Seaborn"
    role: "Workshop"
    client: "Rumah Coding"
    location: "Depok, West Java, Indonesia"
    date: 2024-08-15
    description: "Explored data visualization techniques using the Seaborn library. This workshop was held for participants of Rumah Coding, Depok."
    tech_stack: ["Seaborn", "Python", "Google Colab"]
  - title: "License Plate Recognition with OCR"
    role: "Workshop"
    client: "Rumah Coding"
    location: "Depok, West Java, Indonesia"
    date: 2024-07-04
    description: "Developed OCR-based (Optical Character Recognition) license plate recognition using Tesseract. This workshop was held for participants of Rumah Coding, Depok."
    tech_stack: ["Tesseract", "Python", "Google Colab"]
trainings:
  - title: "Flutter Mobile Development"
    client: "SMKN 8 Jakarta"
    location: "Jakarta, Indonesia"
    date: 2025-03-10
    description: "Developed a basic mobile app with CRUD functionality for Android/iOS using Flutter mobile framework. This training was held for teachers of SMKN 8 Jakarta (Vocational High School). The training was conducted for 4 days."
    tech_stack: ["Flutter", "Dart", "Visual Studio Code"]
  - title: "Full-stack Web Laravel"
    client: "PT. Subang Autocomp Indonesia"
    location: "Subang, West Java, Indonesia"
    date: 2025-03-01
    description: "Built a CRUD-based full-stack web application using Laravel and MySQL for IT team of PT. Subang Autocomp Indonesia. The training was conducted for 4 days."
    tech_stack: ["Laravel", "MySQL", "PHP", "Composer", "Visual Studio Code"]
  - title: "Deep Learning"
    client: "PT. Astra Otoparts Winteq"
    location: "Karawang, West Java, Indonesia"
    date: 2025-02-01
    description: "Trained participants to build deep learning model for regression and classification tasks using Tensorflow. This training was held for IT team of PT. Astra Otoparts Winteq, Karawang, West Java. The training was conducted for 4 days."
    tech_stack: ["Tensorflow", "Python", "Google Colab", "Visual Studio Code"]
  - title: "Generative AI (LLM)"
    client: "UBS Surabaya"
    location: "Surabaya, East Java, Indonesia"
    date: 2025-01-05
    description: "Created a chatbot using open-source LLMs (e.g. Gemma, LLaMA) with custom datasets. This training was held for IT team of UBS Surabaya, Surabaya, East Java. The training was conducted for 4 days."
    tech_stack: ["Hugging Face Transformers", "Python", "Kaggle", "Google Colab"]
  - title: "Intermediate Data Science"
    client: "PT. Pertamina Hulu Rokan"
    location: "Jakarta, Indonesia"
    date: 2024-12-11
    description: "Taught data scraping, preprocessing, visualization, and ML modeling with Python. This training was held for employees of PT. Pertamina Hulu Rokan, Jakarta. The training was conducted for 3 days."
    tech_stack: ["Python", "Seaborn", "Matplotlib", "Scikit-learn", "Kaggle", "Google Colab", "Visual Studio Code"]
  - title: "API Development with Go & Echo"
    client: "DJKN - Ministry of Finance of the Republic of Indonesia"
    location: "Jakarta, Indonesia"
    date: 2024-11-15
    description: "Developed RESTful APIs using Go and Echo framework. This training was held for employees of Direktorat Jenderal Kekayaan Negara (DJKN), Ministry of Finance of the Republic of Indonesia. The training was conducted for 3 days."
    tech_stack: ["Go", "Echo", "Visual Studio Code"]
  - title: "Full-stack Web Laravel"
    client: "RSUD Cengkareng (regional public hospital)"
    location: "Jakarta, Indonesia"
    date: 2024-10-10
    description: "Delivered training on Laravel framework for web CRUD apps. This training was held for employees of RSUD Cengkareng (regional public hospital), Jakarta. The training was conducted for 4 days."
    tech_stack: ["Laravel", "MySQL", "PHP", "Composer", "Visual Studio Code"]
  - title: "Single Page Application using Vue.js and Golang"
    client: "PT. Modern Polaris Teknologi"
    location: "Jakarta, Indonesia"
    date: 2024-08-12
    description: "Developed a single-page application using Vue.js and Golang. This training was held for employees of PT. Modern Polaris Teknologi, Jakarta. The training was conducted for 4 days."
    tech_stack: ["Vue.js", "Golang", "MySQL", "Visual Studio Code"]
  - title: "Generative AI for Software Development"
    client: "Ministry of Finance of the Republic of Indonesia"
    location: "Jakarta, Indonesia"
    date: 2024-08-05
    description: "Built a chatbot using fine-tuned LLMs (Gemma, LLaMA) on domain-specific data especially for software development. This training was held for employees of Ministry of Finance of the Republic of Indonesia, Jakarta. The training was conducted for 3 days."
    tech_stack: ["Hugging Face Transformers", "Python", "Google Colab"]
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %} -->

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->

<!-- {% if site.talk_type %}
  {% for type in site.talk_type  %}
    {% assign title_shown = false %}
    {% for post in site.talks reversed %}
      {% if post.type != type[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ type[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single-talk.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.talks reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %} -->

{% include base_path %}

<h2>Invited Talks and Workshops</h2>

<div class="talks-list">
  {% for talk in page.talks %}
  <div class="talk-item">
    <div class="talk-date">
      {{ talk.date | date: "%b %Y" }}
    </div>
    <div class="talk-details">
      <h3 class="talk-title">
        {{ talk.title }}
        {% if talk.role %}
        <span class="talk-role">{{ talk.role }}</span>
        {% endif %}
      </h3>

      <div class="talk-meta">
        {% if talk.client %}
        <span class="talk-client">{{ talk.client }}</span>
        {% endif %}
        {% if talk.location %}
        <span class="talk-location">{{ talk.location }}</span>
        {% endif %}
      </div>

      <p class="talk-description">{{ talk.description }}</p>

      <div class="talk-tech">
        {% for tech in talk.tech_stack %}
        <span class="tech-badge">{{ tech }}</span>
        {% endfor %}
      </div>
    </div>
  </div>

  {% unless forloop.last %}
  <div class="talk-divider"></div>
  {% endunless %}
  {% endfor %}
</div>

<h2>Training Experience (as Trainer)</h2>

<div class="talks-list">
  {% for training in page.trainings %}
  <div class="talk-item">
    <div class="talk-date">
      {{ training.date | date: "%b %Y" }}
    </div>
    <div class="talk-details">
      <h3 class="talk-title">
        {{ training.title }}
        {% if training.client %}
        <span class="talk-role">{{ training.client }}</span>
        {% endif %}
      </h3>

      <div class="talk-meta">
        {% if training.location %}
        <span class="talk-client">{{ training.location }}</span>
        {% endif %}
      </div>

      <p class="talk-description">{{ training.description }}</p>

      <div class="talk-tech">
        {% for tech in training.tech_stack %}
        <span class="tech-badge">{{ tech }}</span>
        {% endfor %}
      </div>
    </div>
  </div>

  {% unless forloop.last %}
  <div class="talk-divider"></div>
  {% endunless %}
  {% endfor %}
</div>